// ---------------------------------------------------------
// Variables
// ---------------------------------------------------------

$body-font-family: 'Montserrat', sans-serif !default;
$font-title: 'Playfair Display', serif !default;

$html-font-size: 16 !default; // px
$body-font-size: 14 !default; // px

$filter: linear-gradient(62deg, #6a275e, #322d75);

$color-1: #322d75, !default;
$color-2: #6a275e, !default;
$warm-grey: #8a8a8a !default;
$pinkish-grey: #c0c0c0 !default;
$white-grey: #f9f9f9 !default;

$global-width: 1170px !default;
$gutter-width: 1.5em !default;
$screen-xl: 1200px !default;
$screen-lg: 992px !default;
$screen-md: 768px !default;
$screen-sm: 576px !default;

// ---------------------------------------------------------
// Buttons
// ---------------------------------------------------------

$font-btn: 'Oswald', sans-serif !default;