
// ---------------------------------------------------------
// Navigation
// ---------------------------------------------------------

nav.navbar{
    @media screen and (min-width: $screen-lg){
        justify-content: space-between;
    }
    .navbar-brand{
        color: white;
        svg{
            .cls-1, .cls-2, .cls-3 {
                fill: #fff;
              }
        
              .cls-2 {
                font-size: 34px;
                font-family: Montserrat-Regular, Montserrat;
              }
        
              .cls-3 {
                font-size: 22px;
                font-family: Montserrat-Bold, Montserrat;
                font-weight: 700;
              }
        }
    }
    .navbar-toggler{
        border-color: white;
        .navbar-toggler-icon {
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(250, 250, 250)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
        }
    }
    .navbar-collapse{
        @media screen and (min-width: $screen-lg){
            flex-grow: inherit;
            align-self: flex-end;
         }
        ul.navbar-nav{
            li.nav-item{
                @media screen and (min-width: $screen-lg){
                    padding: 0 1rem;
                }
                a.nav-link{
                    color: white;
                }
            }
        }
    }
}